<br><br><br><br><br><br><br><br><br>

<script src="<?php echo LIB_PATH_CONTACT; ?>bootstrap-button.js"></script>
<script src="<?php echo LIB_PATH_CONTACT; ?>jquery.validate.min.js"></script>
<script src="<?php echo LIB_PATH_CONTACT; ?>jquery.validate.extended.js"></script>
<script src="<?php echo JS_PATH_CONTACT; ?>contact.js"></script>

<link href="<?php echo CSS_PATH_CONTACT; ?>bootstrap.min.css" rel="stylesheet">
<link href="<?php echo CSS_PATH_CONTACT; ?>custom.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<div class="container">
    <form id="contact_form" name="contact_form" class="form-contact">
        <h2 class="form-contact-heading">Contacto</h2>
        
        <div class="control-group">
            <input type="text" id="inputName" name="inputName" placeholder="Nombre" class="input-block-level" dir="auto" maxlength="100">
        </div>
        <div class="control-group">
            <input type="text" id="inputEmail" name="inputEmail" placeholder="Email *" class="input-block-level" maxlength="100">
        </div>
        <div class="control-group">
            <label for="sel1">Motivo:</label>
            <select class="form-control" id="inputSubject" name="inputSubject" title="Choose subject">
                <option value="more_info">Dar más información de una noticia</option>
                <option value="new_info">Informar de una nueva noticia</option>
                <option value="web_error">Error en la web</option>
                <option value="work">Trabaja con nosotros</option>
                <option value="wrong_info">Información erronea en una noticia</option>
                <option value="suggestions">Haznos sugerencias</option>
                <option value="claims">Atendemos tus reclamaciones</option>
                <option value="partner">Hazte socio</option>
                <option value="subscribe">Subscribete a nuestra revista</option>
                <option value="wrong_subscribe">Error en el pago mensual de la subscripción</option>
                <option value="different">Otro asunto</option>
            </select>
        </div>
        <div class="control-group">
              <textarea class="input-block-level" rows="4" name="inputMessage" placeholder="Mensaje *" style="max-width: 100%;" dir="auto"></textarea>
        </div>
        
        <input type="hidden" name="token" value="contact_form" />
        
        <input class="btn btn-primary" type="submit" name="submit" id="submitBtn" disabled="disabled" value="Enviar" />
        
        <img src="<?php echo IMG_PATH_CONTACT; ?>ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" /><br/><br/>
          
        <div id="resultMessage" style="display: none;"></div>
    </form>
</div>