    <script src="<?php echo JS_PATH_INTERNATIONAL; ?>controller_details.js"></script>
<br/>
<section id="results-page">
    <div class="container">
        <div class="center">
            <h2>Detalles de la noticia:</h2>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <div id="content"></div>
        </div>
    </div>
</section>