<script type="text/javascript" src="<?php echo JS_PATH_MAIN?>jquery.bootpag.min.js"></script>
<script type="text/javascript" src="<?php echo JS_PATH_MAIN?>controller_category.js"></script>
<br>
<br>
<br>
<br>
<br>
<p><h2 class='center'>Categorias:</h2></p>
<div class="status alert alert-success" style="display: none"></div>
	<center>
		<form id="form_autocomplete">
			<input type="search" id="autocomplete"/>
			<button type="button" id="search">Buscar</button>
		</form>
	</center>
	<div id="results" class="center"></div>
		<center>
	    	<div id="list_categories"></div>
	    	<div id="list_subcategories"></div>
	    	<div id="list_specific_categories"></div>
	    	<div id="list_news"></div>
	    	<div class="pagination_news"></div>
		</center>
		<center>
			<div id="load_more"></div>
			<div id="all_news"></div>
		</center>
</div>