<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<!--End of dropzone scripts-->
<script type="text/javascript" src="<?php echo JS_PATH_NEWS?>controller_news.js"></script>
<br>
<br>
<br>
<br>
<br>
<p><h2 class='center'>Crear una nueva noticia:</h2></p>
<div class="status alert alert-success" style="display: none"></div>
<form name="form_new" id="form_new" class='center'>
    <br>
    <table>
    	<tr>
           <td>Autor: </td>
           <td id="error_author"><input type="text" name="author" id="author" required="required" placeholder="Nombre del autor"
             value=""/>
             <div></div>
           </td>
        </tr>
        <tr>
           <td>ID noticia: </td>
           <td id="error_id"><input type="text" name="id_new" id="id_new" required="required" placeholder="Referencia"
            value=""/>
            <div ></div>
           </td>

        </tr>
        <tr>
           <td>Titular: </td>
           <td id="error_headline"><input type="text" name="headline" id="headline" required="required" placeholder="Titular"
            value=""/>
            <div ></div>
          </td>
        </tr>
        <tr>
		   <td>Fecha suceso: </td>
		   <td id="error_event_date"><input type="text" name="event_date" id="event_date" readonly="readonly"
         value=""/>
         <div ></div>
       </td>
		</tr>
		<tr>
		   <td>Fecha publicación: </td>
		   <td id="error_publication_date"><input type="text" name="publication_date" id="publication_date" readonly="readonly"
         value=""/>
         <div ></div>
       </td>
		</tr>
		<tr>
      <div class="form_allied">
           <td>Relacionado: </td>
           <td id="allied">
              Economía <input type="checkbox" name="allied[]" class="allied" value="Economía">
		          Internacional <input type="checkbox" name="allied[]" class="allied" value="Internacional">
			        Deportes <input type="checkbox" name="allied[]" class="allied" value="Deportes">
			        Cultura <input type="checkbox" name="allied[]" class="allied" value="Cultura">
              España <input type="checkbox" name="allied[]" class="allied" value="España">
            </td>
			  <td><div id="error_allied"></div></td>
      </div>
           
        </tr>
        <tr>
            <td>Categoria:</td>
            <td>
                Portada <input name="category" id="category" type="radio" class="category" value="Portada" checked>
				        Diaria <input name="category" id="category" type="radio" class="category" value="Diaria">
				        Última hora <input name="category" id="category" type="radio" class="category" value="Última hora">
            </td>
            <td><div id="error_category"></div></td>
        </tr>
        <tr><td>Tema:</td></tr>
        <tr>
            <td>Categoria: </td>
			  <td id="error_category_2">
			    <select name="category1" id="category1">
			    <option selected>Seleccione una categoria</option>
				</select>
				<div ></div>
			</td>
        </tr>
        <tr>
          <td> </td>
        </tr>
        <tr>
            <td>Subcategoria: </td>
			  <td id="error_subcategory">
			    <select name="subcategory" id="subcategory">
			    <option selected>Seleccione una subcategoria</option>
				</select>
				<div></div>
			</td>
        </tr>
        <tr>
          <td> </td>
        </tr>
        <tr>
            <td>Categoria específica: </td>
			  <td id="error_specific_category">
			    <select name="specific_category" id="specific_category">
			    <option selected>Seleccione una categoria específica</option>
				</select>
				<div></div>
			</td>
        <tr>
           <td>Nombre del archivo: </td>
           <td id="error_path"><input type="text" name="path_new" id="path_new" required="required" placeholder="Ruta de la notícia"
            value=""/>
             <div></div>
           </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <div class="form-group" id="progress">
            <div id="bar"></div>
            <div id="percent">0%</div >
            </div>

            <div class="msg"></div>
            <br/>
            <div id="dropzone" class="dropzone"></div><br/>
          </td>
        </tr>
    </table>
    <br/>
    <button type="button" name="submit_new" id="submit_new" value="submit_new">
      Enviar noticia
    </button>
</form>
<br>
<br>
<br>
<br>
<br>