<br/>
<section id="results-page">
    <div class="container">
        <div class="center">
            <h2>Resultado de la noticia creada</h2>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <div id="content"></div>
            <script type="text/javascript" src="<?php echo JS_PATH_NEWS?>list_new.js"></script>
        </div>
    </div>
</section>