    <section id="footer-sec" >

            <div class="container">
           <div class="row  pad-bottom" >
            <div class="col-md-4">
                <h4> <strong>SOBRE NOSOTROS</strong> </h4>
                            <p>
                               Periódico de actualidad creado en 2018
                            </p>
                </div>
               <div class="col-md-4">
                    <h4> <strong>REDES SOCIALES</strong> </h4>
                   <p>
                     <a href="#"><i class="fa fa-facebook-square fa-3x"  ></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-3x"  ></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-3x"  ></i></a>
                       <a href="#"><i class="fa fa-google-plus-square fa-3x"  ></i></a>
                   </p>
                </div>
               <div class="col-md-4">
                   <h4> <strong>ENCUÉNTRANOS</strong> </h4>
                            <p>
                               Ontinyent, Av/ Albaida 3-A, <br />
                               La Vall D'Albaida  <br />
                               Valéncia España -46870
                            </p>
 <!--                    <a href="#" class="btn btn-primary" >SEND QUERY</a> -->
                </div>
               </div>
            </div>
    </section>
    <!--/.FOOTER END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY
    <script src="view/plugins/jquery-1.10.2.js"></script>
    -->
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="view/plugins/bootstrap.js"></script>
  <!-- CUSTOM SCRIPTS  -->
    <script src="view/js/custom.js"></script>
</body>
</html>
