<script src="<?php echo JS_PATH_LOGIN; ?>controller_change_password.js"></script>

<br>
<div class="container">
    <form id="changepass_form" name="changepass_form" class="form-contact">
        <br />
        <div class="form-title"><h2 class="form-contact-heading">Cambia tu contraseña</h2></div>
        <p>Por favor introduce tu nueva contraseña.</p>

        <div class="control-group">
            <input type="password" id="password" name="inputPassword" placeholder="Password" class="form-control">
        </div>
        <div class="control-group">
            <input type="password" id="password2" name="inputPassword2" placeholder="Repite tu Password" class="form-control">
        </div>
        
        <input class="btn btn-primary" type="button" name="submit" id="changeBtn" value="Enviar"/>

        <div id="resultMessage" style="display: none;"></div>
    </form>
</div>