<script src="<?php echo JS_PATH_LOGIN; ?>profile.js"></script>

<form id="profile_form" name="profile_form" class="form-perfil">
    <br />
    <div id="contenido" class="row">
        <div class="center">
            <div class="control-group">
                <label class="nombre pefil">Nombre:</label>
                <p>
                    <input type="text" id="inputName" name="inputName" placeholder="Nombre" class="form-control" dir="auto" maxlength="100">
                </p>
            </div>
            <div class="control-group">
                <label class="pefil">Apellidos:</label>
                <p>
                    <input type="text" id="inputSurn" name="inputSurn" placeholder="Apellidos" class="form-control" dir="auto" maxlength="100">
                </p>
            </div>
 <!--            <div class="control-group">
                <label class="pefil">Fecha de Nacimiento:</label>
                <p>
                    <input type="text" id="inputBirth" name="inputBirth" class="form-control" dir="auto" maxlength="100">
                </p>
            </div> -->
<!--             <div class="control-group">
                <label class="pefil">Contraseña:</label>
                <p>
                    <input type="password" id="inputPass" name="inputPass" placeholder="Contraseña" class="form-control" dir="auto" maxlength="100">
                </p>
            </div> -->
        </div>

        <div class="center">
            <br>
            <h1 class="form-profile-heading" id="username">UserName</h1>
            <img id="avatar_user" src="" />

            <span id="e_avatar" class="styerror" style="color:#FF0000"></span>
            <div id="progress">
                <div id="bar"></div>
                <div id="percent"></div >
            </div>
            <div class="msg"></div>
            <br/>
            <div id="dropzone" class="dropzone"></div>
            <br />
        </div>

        <div class="center">
            <label class="email pefil">Email:</label>
            <p>
                <input type="text" id="inputEmail" name="inputEmail" placeholder="Email" class="form-control" maxlength="100" readonly="readonly">
            </p>
<!--             <div class="control-group">
                <label class="pefil">Pais:</label>
                <p>
                    <select id="pais" name="pais"></select>
             
                </p>
            </div>
            <div class="control-group">
                <label class="pefil">Provincia:</label>
                <p>
                    <select id="provincia" name="provincia"></select>
          
                </p>
            </div>
            <div class="control-group">
                <label class="pefil">Poblacion:</label>
                <p>
                    <select id="poblacion" name="poblacion"></select>
                
                </p> -->
                 <input class="submit_user" type="button" name="submit" id="submitBtn_user" value="Guardar" />
            </div>
        </div>
    </div>
</form>