<script src="<?php echo JS_PATH_LOGIN; ?>controller_recover.js"></script>

<section id="contact-page">
      <div class="container">
          <div class="center">
          </div>
          <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="main-contact-form" class="contact-form" name="contact-form">
                  <div class="col-sm-4 col-sm-offset-1">
                      <div class="form-group">
                          <label>Email</label>
                          <input type="text" id="email" class="form-control">
                          <span id="error_name"></span>
                      </div>
                      <div class="form-group">
                          <button type="button" id="sent_email" class="btn btn-primary btn-lg">Enviar Email</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </section>