<script src="<?php echo JS_PATH_LOGIN; ?>controller_register.js"></script>

<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Datos personales:</h2>
          </div>
 <div class="row contact-wrap">
    <div class="status alert alert-success" style="display: none"></div>
		 <form id="main-contact-form" class="contact-form" name="contact-form">
		    <div class="col-sm-4 col-sm-offset-1">
		      	<div class="form-group">
		        	<label>Usuario</label>
		        	<input type="text" name="name" id="name" class="form-control">
		        	<div id="error_name"></div>
		    	</div>
		    	 <div class="form-group">
		            <label>Email</label>
		            <input type="email" name="email" id="email" class="form-control">
		            <div id="error_email"></div>
		        </div>
		        <div class="form-group">
		            <label>Contraseña</label>
		            <input type="password" name="password" id="password" class="form-control">
		            <div id="error_password"></div>
		        </div>
		        <div class="form-group">
		            <label>Repita contraseña</label>
		            <input type="password" name="password2" id="password2" class="form-control">
		            <div id="error_password2"></div>
		        </div>
		        <div class="form-group">
		            <button type="button" id="register" class="btn btn-primary btn-lg">Entrar</button>
		        </div>
		    </div>
		</form>
	</div>
</div>
</section>