<script src="<?php echo JS_PATH_LOGIN; ?>controller_social_network.js"></script>
<script src="<?php echo JS_PATH_LOGIN; ?>controller_login.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>

<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Credenciales</h2>
          </div>
          <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="main-contact-form" class="contact-form" name="contact-form">
                  <div class="col-sm-4 col-sm-offset-1">
                      <div class="form-group">
                          <label>Usuario</label>
                          <input type="text" id="name" class="form-control">
                          <span id="error_name"></span>
                      </div>
                      <div class="form-group">
                          <label>Contraseña</label>
                          <input type="password" id="password" class="form-control">
                          <span id="error_password"></span>
                      </div>
                      <div class="form-group">
                          <button type="button" id="sign_in" class="btn btn-primary btn-lg">Entrar</button>
                          <button type="button" name="create_user" id="create_user" class="btn btn-primary btn-lg">Registo</button>
                          <button type="button" name="recover_password" id="recover_password" class="btn btn-primary btn-lg">Recuperar</button>
                      </div>
                  </div>
                  <div class="col-sm-2">
                          <button type="button" class="btn" id="fb_login"><i class="fa fa-facebook fa-3x"></i></button></br></br>
                          <button type="button" class="btn" id="tw_login"><i class="fa fa-twitter fa-3x"></i></button></br></br>
                          <button type="button" class="btn" id="g_login"><i class="fa fa-google-plus fa-3x"></i></button>
                  </div>
              </form>
          </div>
      </div>
  </section>